@if (ItemList.Count > 0)
{
    <TableTemplate Items="ItemList" Context="item">
        <TableHeader>
            <th scope="col" class="text-center" style="width:40%;">Product</th>
            <th scope="col" class="text-center" style="width:16%">Quantity</th>
            <th scope="col" class="text-center" style="width:22%">Price</th>
            <th scope="col" class="text-center" style="width:22%;">SubTotal</th>

        </TableHeader>
        <RowTemplate>
            <td class="align-middle text-center">
                @item.Product.Name
            </td>
            <td class="align-middle text-center">
                @item.Quantity
            </td>
            <td class="align-middle text-center">
                @item.Product.Price.ToString("c")
            </td>
            <td class="align-middle text-center">
                @((item.Product.Price * item.Quantity).ToString("c"))
            </td>
        </RowTemplate>
    </TableTemplate>
}
else
{
    <span>
        Loading orders...
    </span>
}

@code {
    [Parameter]
    public List<SalesOrderItemViewModel> ItemList { get; set; } = new List<SalesOrderItemViewModel>();
}
