@using System.Diagnostics.CodeAnalysis
@typeparam TItem

<table cellpadding="3" border="1" class="table table-striped table-bordered table-hover">
    <thead class="bg-dark bg-gradient text-light">
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            if (RowTemplate is not null)
            {
                <tr>@RowTemplate(item)</tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment? TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter, AllowNull]
    public List<TItem> Items { get; set; }
}
